.footer{
background:#08152f;
}

.footer p{
line-height:1.9;
color:#d8d8d8;
}

.footer ul li{
margin-bottom:15px;
transition:.3s;
cursor:pointer;
}

.footer ul li:hover{
color:#f05a28;
padding-left:5px;
}