@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
overflow-x:hidden;
background:white;
color:#1d1d1d;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

img{
width:100%;
display:block;
}

.container{
max-width:1320px;
margin:auto;
padding:0 20px;
}

section{
padding:100px 0;
}

html{
scroll-behavior:smooth;
}

body{
overflow-x:hidden;
}

button{
cursor:pointer;
transition:.4s;
}

button:hover{
transform:translateY(-3px);
}

img{
max-width:100%;
}

section{
padding:110px 0;
}
@media(max-width:992px){

section{
padding:90px 0;
}

.hero h1,
.industries-hero-content h1,
.pentakuhl-content h1{
font-size:52px;
}

.about-container,
.pk-about-container,
.network-container{
grid-template-columns:1fr;
gap:50px;
}

.services-grid,
.why-grid,
.awards-grid,
.industry-grid,
.product-grid,
.infra-grid{
grid-template-columns:repeat(2,1fr);
}

.cater-grid{
grid-template-columns:repeat(2,1fr);
}

.stats-grid{
grid-template-columns:repeat(2,1fr);
}

.footer-grid{
grid-template-columns:repeat(2,1fr);
}

}