.industries-hero{
height:80vh;
background:url("/industry-banner.jpg") center/cover;
position:relative;
display:flex;
align-items:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.55);
}

.industries-hero-content{
position:relative;
color:white;
max-width:800px;
}

.industries-hero-content span{
letter-spacing:2px;
}

.industries-hero-content h1{
font-size:70px;
line-height:1.1;
margin:25px 0;
}

.industries-hero-content p{
font-size:18px;
line-height:1.8;
}

.industry-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.industry-card{
border-radius:25px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.4s;
cursor:pointer;
background:white;
}

.industry-card:hover{
transform:translateY(-10px);
}

.industry-card img{
height:260px;
object-fit:cover;
}

.industry-content{
padding:30px;
}

.industry-content h3{
margin-bottom:15px;
}

.industry-content p{
line-height:1.8;
color:#666;
}

.faq{
background:#f7f8fc;
}

.faq-item{
background:white;
padding:30px;
border-radius:20px;
margin-bottom:20px;
cursor:pointer;
box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.faq-item h3{
margin-bottom:15px;
}

.faq-item p{
color:#666;
line-height:1.8;
}
.industry-card{
transition:.4s;
}

.industry-card:hover{
transform:translateY(-12px);
}
@media(max-width:768px){

.hero{
height:90vh;
}

.hero h1,
.industries-hero-content h1,
.pentakuhl-content h1{
font-size:42px;
}

.section-title h2{
font-size:36px;
}

.about-content h2,
.pk-about-content h2,
.network-content h2{
font-size:38px;
}

.services-grid,
.why-grid,
.awards-grid,
industry-grid,
product-grid,
infra-grid,
cater-grid,
stats-grid,
testimonial-grid{
grid-template-columns:1fr;
}

.footer-grid{
grid-template-columns:1fr;
}

.cta-box{
flex-direction:column;
gap:30px;
text-align:center;
padding:50px;
}

.cta-box h2{
font-size:34px;
}

}
@media(max-width:576px){

.container{
padding:0 15px;
}

.hero h1,
.industries-hero-content h1,
.pentakuhl-content h1{
font-size:34px;
}

.hero p{
font-size:16px;
}

.section-title h2{
font-size:30px;
}

.about-content h2,
.pk-about-content h2,
.network-content h2{
font-size:30px;
}

.stat-card h2{
font-size:45px;
}

.cta-box{
padding:40px 25px;
}

.cta-box h2{
font-size:28px;
}

}