.header{
position:fixed;
top:0;
left:0;
width:100%;
z-index:1000;
background:rgba(255,255,255,.95);
backdrop-filter:blur(15px);
box-shadow:0 4px 20px rgba(0,0,0,.08);
}

.nav-container{
height:90px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo img{
width:180px;
}

.nav{
display:flex;
align-items:center;
gap:45px;
font-size:15px;
font-weight:500;
}

.contact-btn{
border:none;
padding:14px 28px;
background:#f05a28;
color:white;
border-radius:30px;
cursor:pointer;
transition:.3s;
}

.contact-btn:hover{
background:#d54719;
}

.menu-btn{
display:none;
font-size:35px;
cursor:pointer;
}

@media(max-width:992px){

.nav{
position:fixed;
top:90px;
right:-100%;
background:white;
width:300px;
height:100vh;
flex-direction:column;
padding-top:50px;
transition:.4s;
}

.nav.active{
right:0;
}

.menu-btn{
display:block;
}

}
.header{
transition:.4s;
}

.nav a{
position:relative;
}

.nav a::after{
content:'';
position:absolute;
left:0;
bottom:-8px;
width:0;
height:2px;
background:#f05a28;
transition:.4s;
}

.nav a:hover::after{
width:100%;
}
